@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:#D26900;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.black-box {
  width: 275px;
  height: 1024px;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
}

.small-black-box {
  width: 75.01px;
  height: 75.01px;
  position: absolute;
  left: 84px;
  top: 75.04px;
  transform: rotate(45deg);
}

.menu {
  position: absolute;
  left: 39px;
  top: 232px;
  width: 197px;
  height: 597px;
  display: flex;
  flex-direction: column;
  gap: 54px; /* Відстань між елементами */
}

.menu a {
  font-size: 30px; /* Розмір кожного запису */
  color: white;
  font-family: 'Tektur', sans-serif; /* Шрифт Tekture Regular */
  text-decoration: none; /* Відсутність підкреслення */
}

.menu a:hover {
  color: #FFA500; /* Підсвічування оранжевим кольором при наведенні */
}